* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--colorGrayDark);
  font-size: 16px;
  line-height: 1.375rem;
  height: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: var(--brands);
}

#root {
  height: 100%;
  & > div {
    min-height: 100%;
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3.125rem;
  line-height: 3.375rem;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  line-height: 2.1625rem;
}

h3 {
  font-size: 1.65rem;
  font-weight: normal;
  line-height: 1.775rem;
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  font-size: 1.35rem;
  padding: 0;
}

h5 {
  margin: 0;
  font-size: 1.15rem;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

iframe {
  border: 0;
  height: 100%;
  overflow: hidden;
}

form {
  font-size: 0.9375rem;
  line-height: 1.375rem;
}

p:last-child {
  margin-bottom: 0;
}

p:first-child {
  margin-top: 0;
}

button {
  border: 0;
  outline: 0;
}

hr {
  color: #000000;
  background-color: #000000;
  height: 1px;
  border: none;
  width: 100%;
}
