:root {
  --colorGrayLight: #a3a3a3;
  --colorGray: #666;
  --colorGrayDark: #444;
  --brands: #444;
  --colorGrayDarkest: #2c3f48;
  --colorBlueLight: #d0dde0;
  --colorBeige: #eeefea;
  --companyLight: #eeefea;
  --company: #aaa38e;
  --colorBrownLight: #eeefea;
  --colorBrown: #a9a390;
  --colorBrownDark: #91785b;
  --colorYellow: #fecb00;
  --colorRed: #e42426;
  --colorRedLight: #ec6223;
  --colorGreen: #1b905c;
  --colorGreenLight: #8bbd3f;
  --responsibility: #fecb00;
  --colorBlue: #007db3;
  --innovation: #92a2bd;
  --colorGreen: #a2ad00;
  --careers: #a2ad00;
  --colorOrange: #ff9100;
  --investor: #ff9100;
  --specials: #d0b54f;
  --colorGrayLighter: #ddd;
  --colorGrayLightest: #f2f2f2;
  --colorPurple: #875ec3;
}
