/*.filters {
    display: flex;
    font-size: 1rem;
    font-family: sans-serif;
    & div {
        display: flex;
        align-items: center;
    }
    & h2 {
        margin-top: 0;
        margin-right: 1rem;
    }
    & .sort, & .length, & .filter {
        padding: 0.7rem;
        border: 1px solid white;
        background: var(--colorBrownLight);
    }
    & label {
        font-weight: normal;
        margin-bottom: 0;
    }
}*/
