@import url('vonnegut.components/src/form.css');
@import url('vonnegut.components/src/input.css');
@import url('vonnegut.components/src/textarea.css');
@import url('vonnegut.components/src/button.css');
@import url('vonnegut.components/src/select.css');
@import url('vonnegut.components/src/radio.css');
@import url('vonnegut.components/src/checkbox.css');

div[class*='scale'] .field-radio-group > label {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

div[class*='scale'] .field-radio-group .field label {
  display: flex;
  justify-content: center;
}

div[class*='scale'] .field-radio-group .group > .field {
  min-width: 100px;
}

div[class*='scale'] .field-radio-group .line .field {
  flex: 1;
  position: relative;
}

div[class*='scale'] .field-radio-group .line .field:not(.nvt):before {
  width: 100%;
  height: 1px;
  position: absolute;
  background: #ccc;
  content: '';
  top: 9px;
  z-index: 0;
}

div[class*='scale'] .field-radio-group .line .field:first-child:before {
  margin-left: 50%;
}

div[class*='scale'] .field-radio-group .line .field.last-child:before,
div[class*='scale'] .field-radio-group .line .field.last:before {
  width: 50%;
}
