.left {
  flex: 1 0 80%;
}

.right {
  flex: 0 0 20%;
  width: 17rem;
}

.font-size-small {
  font-size: 0.75rem;
  line-height: 0.9rem;
}

.font-size-regular {
  font-size: 0.9375rem;
}

.font-size-medium {
  font-size: 1.4rem !important;
  line-height: 1.9rem;
  font-weight: 100;
}

.font-size-large {
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 100;
}

.grid {
  display: grid;
}

.bg-white {
  background: white !important;
}

.bg-black {
  background: black;
}

.bg-blue {
  background: var(--colorBlue) !important;
}

.bg-orange {
  background: var(--colorOrange) !important;
}

.bg-green {
  background: var(--colorGreen) !important;
}

.bg-yellow {
  background: var(--colorYellow) !important;
}

.bg-brown {
  background: var(--colorBrown) !important;
}

.bg-brown-light {
  background: var(--colorBrownLight) !important;
}

.bg-blue-light {
  background: var(--colorBlueLight) !important;
}

.bg-brown-dark {
  background: var(--colorBrownDark) !important;
}

.bg-transparent {
  background: transparent !important;
}

.bg-gray {
  background: var(--colorGray);
}

.bg-gray-dark {
  background: var(--colorGrayDark);
}

.bg-gray-light {
  background: var(--colorGrayLight);
}

.bg-gray-lighter {
  background: var(--colorGrayLighter);
}

.bg-gray-lightest {
  background: var(--colorGrayLightest);
}

.color-blue {
  color: var(--colorBlue);
}

.color-white {
  color: white;
}

.color-yellow {
  color: var(--colorYellow);
}

.color-red {
  color: var(--colorOrange);
}
.color-green {
  color: var(--colorGreen);
}

.color-gray {
  color: var(--colorGray);
}

.color-gray-light {
  color: var(--colorGrayLight);
}

.width-full {
  width: 100%;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-bottom {
  border-bottom: 1px solid var(--colorGrayLighter);
}

.border-radius {
  border-radius: 4px;
}

.border-radius-large {
  border-radius: 10px;
}

.no-border {
  border: 0 !important;
}

.border-gray {
  border-color: var(--colorGrayLighter);
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.container.wide {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media (min-width: 64em) {
  .container {
    padding: 0 2rem;
  }
}

@media (min-width: 52em) and (max-width: 64em) {
  .container {
    width: 52em;
  }
}

@media (max-width: 52em) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}

.btn {
  border-radius: 2rem;
  font-family: 'Oswald';
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
