@import 'https://cdnjs.cloudflare.com/ajax/libs/basscss/8.0.3/css/basscss.min.css';
@import '/Users/bram/Projects/_gitrepos/vonnegut.components/src/alert.css';
@import './_colors.css';
@import './_fonts.css';
@import './_helpers.css';
@import './_base.css';
@import './_form.css';
@import './_theme.css';

.private {
  display: flex;
}

.private > aside {
  width: 70px;
  position: fixed;
  height: 100%;
  background: var(--colorGrayDarkest);
  & > div:first-child {
    border-right: 1px solid #333;
  }
  & > div button {
    color: white !important;
  }
  & .level-1 button {
    display: flex;
    border-radius: 0;
    justify-content: center;
    width: 70px;
  }
  & .level-1 .logo {
    position: relative;
    left: 0;
    top: 0;
  }
  & .level-1 .logo span {
    transform: rotate(-90deg);
  }
  & a {
    color: white;
    &:hover,
    &.active,
    &.active svg {
      color: var(--colorBlue);
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  & svg {
    width: 22px;
  }
  & .btn.active {
    color: var(--colorBlue);
    & svg {
      stroke: var(--colorBlue);
    }
  }

  & .meta {
    margin-left: -1.5rem;
  }
}

.private main {
  width: 100%;
  margin-left: 70px;
  background: white;
  & > header {
    display: flex;
    align-items: center;
    background: var(--colorGrayLightest);
    height: 100px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.private.page-survey[class*='mode'] > aside {
  width: 250px;
}

.private.page-survey[class*='mode'] > main {
  margin-left: 250px;
}

.private.page-survey.mode-new > aside {
  width: 70px;
}

.private.page-survey.mode-new > main {
  margin-left: 70px;
}

.private .question-fieldset {
  padding: 1rem;
}

.public {
  display: block;
  background: transparent url(../images/background-signin.jpg);
  background-attachment: fixed;
  background-size: cover;
  & .logo {
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    & h1 {
      color: white;
    }
  }
  & .language-switcher {
    position: absolute;
    margin-bottom: -1rem;
    right: 2rem;
    z-index: 10;
  }
  & main {
    width: 80%;
    max-width: 1024px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    @media (max-width: 64rem) {
      width: 100%;
      margin-top: 0;
      border-radius: 0;
      height: 100%;
      margin-bottom: 0;
      & > div {
        padding: 0;
        border-radius: 0;
      }
    }
    & form {
      height: 100%;
    }

    & section {
      background: #eee;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 3rem;
      width: 100%;
      @media (max-width: 64rem) {
        padding: 1rem;
        border-radius: 0;
        & > div {
          padding: 0;
        }
      }
    }

    & h1 {
      margin-bottom: 1rem;
    }

    & .legend {
      padding: 0;
      border: 0;
    }

    & .legend .description {
      margin-top: 1rem;
    }

    & .step {
      width: 30px;
      height: 30px;
      border: 1px solid var(--colorGrayLighter);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--colorGrayLight);
      line-height: 0;
      font-size: 0.8rem;
      margin: 0.5rem;
    }

    & .step.invalid {
      background: red !important;
    }

    & .step.active {
      border: 1px solid var(--colorBlue);
    }

    & .step.completed {
      background-color: var(--colorBlue);
      color: white;
    }
    @media (max-width: 64rem) {
      & .btn.next span {
        display: none;
      }
      & .btn.prev span {
        display: none;
      }

      & .btn.prev svg,
      & .btn.next svg {
        margin: 0;
      }
    }
  }
  & .question-fieldset {
    border: 0;
    box-shadow: none;

    & .question-fieldset:hover {
      border: 0;
    }
    &:hover {
      border: 0;
    }
  }

  & .question-scale .question-content {
    background: white;
  }

  & .copyright {
    @media (max-width: 64rem) {
      padding-bottom: 1rem;
    }
  }
}

.survey-item {
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 0 0 3px #aaa;
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 275px;
  cursor: pointer;
  &:hover {
    border: 1px solid #aaa;
  }
  & .actions {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  & .actions .btn {
    min-width: auto;
  }
}

.question-edit-prop {
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;

  &.prop-type.type-list {
    padding-bottom: 0;
    border-bottom: 0;
  }
  &.prop-type.type-list .field {
    margin-bottom: 0.5rem;
  }
  &.prop-typeOptions.type-list {
    padding-top: 0;
  }
}

.question-fieldset {
  border-radius: 3px;
  box-shadow: 0 0 3px #ddd;
  border: 1px dashed var(--colorGrayLight);
  &:hover {
    border: 1px solid black;
  }
  & > .question-content {
    background: transparent;
  }
  & .question-fieldset:hover {
    border: 1px solid black;
  }
  & .question-fieldset:last-child {
    margin-bottom: 0;
  }
  & .question-fieldset h2 {
    font-size: 1.65rem;
    font-weight: normal;
    line-height: 1.775rem;
    color: black;
    margin: 0;
    padding: 0;
  }
  & .question-fieldset .question-content:last-child {
    margin-bottom: 0;
  }
}

.question-content {
  border-radius: 5px;
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
}

.btn {
  border-radius: 8px;
}

.btn .modalnew-container .modalnew-box {
  border-radius: 5px;
}

.btn.bg-blue {
  color: white;
}

.btn.bg-blue.active {
  background-color: white !important;
  color: var(--colorBlue);
}

.btn.next {
}

.alert-container {
  right: 2rem;
  left: auto;
  z-index: 100000;

  & .alert {
    border-radius: 3px;
    background: var(--colorBlue);
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }

  & .loader-circle {
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: white;
  }
}
