.bmw-slider {
  margin: auto;
}

@media (min-width: 64em) {
  .bmw-slider {
    max-width: 80em;
  }
}

@media (max-width: 64em) {
  .bmw-slider {
    width: 100%;
  }
}

.bmw-slider .slick-slide img {
  width: 100%;
}

.bmw-slider button {
  position: absolute;
  bottom: 0;
  width: 4rem;
  font-size: inherit;
  text-indent: -9999px;
  border: 0;
  height: 70px;
  z-index: 10;
  cursor: pointer;
}

@media (max-width: 52em) {
  .bmw-slider button {
    display: none !important;
  }
}

.bmw-slider .content {
  margin-top: 2rem;
}

.bmw-slider button.slick-prev {
  left: 0;
  background: url(../images/prev_54.svg) center left no-repeat;
}

.bmw-slider button.slick-next {
  right: 0;
  background: url(../images/next_54.svg) center left no-repeat;
}
