.private > aside {
  & a {
    &.active,
    &.active svg {
      color: #007db3 !important;
    }
  }

  & .btn {
    &.active,
    &.active svg {
      stroke: #007db3 !important;
    }
  }
}

.color-green {
  color: #007db3 !important;
}

.btn {
  background: #007db3;
}

.btn.active {
  color: #007db3 !important;
}

.btn:disabled {
  background: #ddd !important;
}

.btn.bg-transparent {
  color: #000;
}

.btn.bg-transparent:hover {
  color: #007db3 !important;
}

.bg-primary {
  background: #007db3 !important;
  color: white !important;
}

.btn.bg-primary:not(:disabled):hover {
  background: #3d9e5e !important;
}

.public .btn.bg-white {
  border: 3px solid #ccc;
  & span {
    text-align: center;
  }
  &:hover {
    border: 3px solid #007db3;
  }
}

.public .btn.bg-white {
  border: 3px solid #ccc;
  & span {
    text-align: center;
  }
  &:hover {
    border: 3px solid #007db3;
  }
}

.public.page-survey main h2 {
  color: #007db3 !important;
}
